/*Variables*/
$primary: #F5E7F1;
$secondary: #5455BA;
$tertiaire:#A44288;
$btn-bgcolor: linear-gradient(to top left, $secondary 10%, $tertiaire);

/* Mobile first*/
.text{
    color: $secondary;
}
a
{ 
 text-decoration:none; 
} 

p, h2{
    color: $secondary;
}

body{
    background :  #f5e7f15b!important;

}

/*Navigation*/

.navbar{
    background: $primary;
    &-collapse{
        justify-content:flex-end;
    }
    &-brand{
        margin-left: 20px;
    }
    &-toggler{
        background: $btn-bgcolor;
        outline: $primary;
        &:hover{
            outline: $primary;
            text-decoration: $primary solid;
        }
    }

}

.nav-text{
    margin-right: 20px;
}


/*Boutons fiche produit */


.btn{
    align-items: center;
    justify-content: center;
}
.select{
    background: $btn-bgcolor;
    color: lightgrey;
    box-shadow: 0px 2px 5px 1px lightgrey;
    border: 1px $primary;
    color: #080808cf;
    border-radius: 5px;
    width: 50%;
    align-items: center;

}

/*Panier*/

.panier-text{
    color: $tertiaire;
    font-size: 30px;
    
    }

.bg_panier{
    background-color:  #e7e2e5!important;
}

/*Confirmation*/


.confirmation{
    margin-top: 15rem;
    margin-bottom: 15rem;

}
/*footer*/
footer{
    background-color: $primary;
}
.text-footer{
    color: $secondary;
    &:hover{
        text-decoration: none;
        color:$tertiaire;
    }
}

